<h1>Portfolio Items</h1>

<%= link_to 'New Portfolio Item', new_portfolio_path %>

<% @portfolio_items.each do |item| %>
  <h3><%= link_to item.title, portfolio_show_path(item) %></h3>
  <p><%= link_to item.subtitle, subtitle: item.subtitle %></p>
  <p><%= item.body %></p>
  <%= image_tag item.thumb_image unless item.thumb_image.nil? %>
  <%= link_to 'Edit', edit_portfolio_path(item) %>
  <%= link_to 'Delete', item, method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>
